/*   Arquivo de estilo para desktop da página do Projeto de Mapa
*    Desenvolvimento WEB  IFSP Campinas  2018
*    Paulo Sérgio do Nascimento 160013-3
*
*
*/


/* retirar os espaçamentos existentes no corpo da página */
body{
    margin: 0;
    padding: 0;
}


/* todos as tags terão comportamento como bloco*/
article, aside, section,  header, footer, nav {
    display: block;
}

/*  tag main*/
main{
    width: 75%;
    min-width: 960px;
    height: 850px;
    margin: 10px auto;
    box-shadow: 0 0 10px #999999;
    background-color: #e9ffdb;
}

/* configurações do top*/
header{
    position: absolute;
    margin-top: -10px;
    margin-right: -10px;
    width: 100%;
    height: 112px;
    text-align: center;
    clear: both;
    background-color: #bde8a0;
}


header h1{
    color: gray;
}

header a{
    text-decoration: none;
    margin: 5px 10px;
    width: 30px;
}

/* seção dos itens relacionados ao mapa */
#info_mapa{
    position: relative;
    float: left;
    margin-top: 110px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 500px;
}

/* seção de conteudo relacionado ao mapa */
#conteudo{
    position: relative;
    float: right;
    margin-top: 110px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 31%;
    height: 460px;
}


#conteudo div{
    padding: 20px 10px;
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 25px;
    color: gray;
}


/* seção de apoio ao site*/
#apoio{
    position: relative;
    float: left;
    margin: 10px 20px;
    width: 96%;
    height: 100px;   
}


#apoio div{
    padding: 5px 10px;
    text-align: justify;
    letter-spacing: 1px;
    text-indent: 25px;
    font-size: 13px;
    color: gray;
}



#btn_contato{
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    color: white;
    background-color: #bde8a0;
    text-decoration-line: none;
    text-transform: uppercase;
}

#btn_contato:hover{
    background-color: #aad191;
    transition-duration: 0.3s;
}


/*  fim de página*/
footer{
    position: relative;
    float: left;
    margin: 10px 20px;
    width: 96%;
    height: 50px;
    background-color: #bde8a0;
}

footer h3{
    text-align: center;
    margin: 0 auto;
    color: gray;
    font-size: 11px;
}